<div class="join-container">
  <p style="font-size: medium">Enter the name and 6-digit code to join someone else's playlist</p>
  <mat-form-field class="name-field">
    <input matInput type="text" placeholder="Playlist's name" [(ngModel)]="playlistName">
  </mat-form-field>
  <div class="code-inputs">
    @for (digit of code; track $index; let i = $index) {
    <mat-form-field
      appearance="outline"
      class="digit-field"
    >
      <input
        matInput
        #codeInput
        maxlength="1"
        inputmode="numeric"
        autocomplete="one-time-code"
        [(ngModel)]="code[i]"
        (input)="onInput($event, i)"
        (keydown)="onKeyDown($event, i)"
        (focus)="onFocus(i)"
      />
    </mat-form-field>
    }
  </div>

  @if (code.join('').length == 6 && playlistName.trim() !== '') {
  <button
    mat-flat-button
    color="accent"
    class="join-button"
    [disabled]="code.join('').length !== 6 || playlistName.trim() === ''"
    (click)="emit()"
  >
    Join
  </button>
  }
</div>
