.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #121212;
  color: #fbfbfb;
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.digit-field {
  width: 50px;

  input {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fbfbfb;
  }

  .mat-mdc-form-field-outline {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.join-button {
  width: 300px;
  font-weight: 600;
  font-size: 1.3rem;
}

.name-field {
  width: 340px;
}
