name: music-collab-playlist-webapp

services:
  backend:
    image: music-collab-playlist-be
    ports:
      - "8080:8080"
    container_name: backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  frontend:
    image: music-collab-playlist-fe
    ports:
      - "4200:8080"
    container_name: frontend

  db:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: music-collab-playlist-db
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - db

volumes:
  pgdata: