.playback-manager {
  border-top: solid 1px rgba(0, 82, 204, 0.05);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.active-track {
  color: #fbfbfb;
  display: flex;
}

.title {
  margin-right: 12px;
  font-weight: 600;
  font-size: 15px;
}

.subtitle {
  font-size: 14px;
}

.control-button {
  color: #fbfbfb;
}

.thumb {
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.track-details {
  display: flex;
  flex-direction: column;
  margin: 1.5vh 0;
  width: 18vw;
}


.playback-details {
  display: flex;
  flex-direction: column;
}

.buttons-row {
  color: #fbfbfb;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.progress-row {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-slider {
  width: 40vw;
}

.time-display {
  color: #fbfbfb;
}
