spring:
  application:
    name: music-collab-playlist-be
  datasource:
    url: jdbc:postgresql://db:5432/music-collab-playlist-db
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile,email
            redirect-uri: "${BACKEND_BASEURL}/login/oauth2/code/google"
            client-name: Google
            authorization-grant-type: authorization_code
          spotify:
            client-id: ${SPOTIFY_CLIENT_ID}
            client-secret: ${SPOTIFY_CLIENT_SECRET}
            scope:
              - user-read-playback-state
              - user-modify-playback-state
              - user-read-currently-playing
              - user-top-read
              - user-read-recently-played
            redirect-uri: "${BACKEND_BASEURL}/login/oauth2/code/spotify"
            client-name: Spotify
            authorization-grant-type: authorization_code
        provider:
          spotify:
            authorization-uri: https://accounts.spotify.com/authorize
            token-uri: https://accounts.spotify.com/api/token
            user-info-uri: https://api.spotify.com/v1/me
            user-name-attribute: id

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.oauth2: DEBUG
