spring:
  application:
    name: music-collab-playlist-be
  datasource:
    url: jdbc:postgresql://db:5432/music-collab-playlist-db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
